body{
    font-family: 'Oswald', sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    color:#808080;
}

* {
    box-sizing: border-box;
}

.title {
    color: black;
}


/*Top Section Sytles*/

.top-section {
    background-color: #2D2F33;
    color: white;
    text-align: center;
}

.main-title {
    margin-top: 0;
}

.intro-section {
    border-bottom: 3px solid black;
    text-align: center;
    background-color: #f0f5f5;
}

.main-container {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
}

/*Main Section Styles*/

form {
    margin-top: 0.1rem;
    border-top: 2px solid black;
    padding: 1rem 0;
}

.form-heading{
    font-weight: bold;
    font-size: 1.3rem;
}

fieldset { 
    border:0px;
  }

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

input[type=text],input[type=email], input[type=tel],select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background-color:#DCDCDC;
    transition: ease-in-out, width .35s ease-in-out;

  }

  input:focus {
    background-color:#8DD9D6;
  }

.contact-section{
    border-bottom: 2px solid black;
    padding-bottom: 2.5rem;
}

.contact-flex,
.newsletter-flex {
    list-style-type: none;
    padding: 0;
}

.contact-flex li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contact-flex > li > label {
  flex: 1 0 120px;
  max-width: 220px;
}

#zip-code{
    max-width: 49%;
    
}

.contact-flex > li > label + * {
  flex: 1 0 220px;
}


  
  button[type=submit] {
    background-color: #49d1cc;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button[type=submit]:hover {
    background-color:#46C2E8;
  }



::placeholder {
    font-style: italic;
    text-align: end;
    padding: 0 0.5rem;
}

.placeholder {
    color: gray
  }

.newsletter-section {
    margin-top: 2rem;
}

#copyright-text{
    text-align: center;
}

.newsletter-type {
    margin-bottom: 1.5rem;
}

.newsletter-format {
    margin-bottom: 1.5rem;
}


   

